@{
    ViewBag.Title = "Reports";
    ViewBag.SubTitle = "Reconciliations Details";
}


@Styles.Render("~/AdminLTE/plugins/datatables/css")

@*@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")*@
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<link href="~/AdminLTE/plugins/searchAreaControl/css/searchAreaControl.css" rel="stylesheet" />



<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Filter</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                @*<button id="myButton" type="button" value="Terminal" />*@
                <button type="button" id="myButton" class="btn btn-primary">Terminal</button>
            </div>
            <div class="col-md-6">


            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 form-group">
                <label for="datetimes">Reconciliation Date Time Range</label>
                <input type="text" class="form-control" id="datetimes" name="datetimes">
            </div>
            @*input-sm*@
            <div class="col-sm-6  form-group">
                <label for="Search">Search by TID</label>
                <input type="text" class="form-control" id="Search" name="Search" placeholder="Search by TID,Amount... ">
            </div>

        </div>

       

    </div>
    <div class="box-footer">
        <button type="button" value="ReconciliationsReport" id="btnReconciliationsReport" class="btn btn-success pull-left">Reconciliations Report</button>
        <button type="button" value="Search" id="btnSearch" class="btn btn-success pull-right">Search</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                @*heder items*@
            </div>
            <div class="box-body">

                <table id="myTable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Terminal ID</th>
                            <th>Date Time</th>
                            <th>STAN</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReceiptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:0px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-download" style="cursor: pointer;" onclick="window.print();" title="Download"></i>
                <span style="font-size: 16px;font-weight: bold;margin-left: 401px" class="modal-title" id="exampleModalLabel">Receipt</span>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" title="Close">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="modelHisoryBody" style="padding:0px 15px;">
                <div id="mdbody">
                    @*@{Html.RenderPartial("PrintRecipt");}*@

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: #fff;background-color: #3c8dbc;">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{



    @Scripts.Render("~/AdminLTE/plugins/datatables/js")




    @* load datetimepicker range *@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>


    <script src="~/AdminLTE/plugins/searchAreaControl/js/searchAreaControl.js"></script>


    <script type="text/javascript">



        $(document).ready(function () {


            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '/Reports/GetHierarchy',

                success: function (records, textStatus, jqXHR) {
                    $('#myButton').searchAreaControl({
                        data: records,
                        collapseNodes: true,

                        mainButton: {
                            defaultText: 'Terminal'
                        }
                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });



            var oTable = $("#myTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true,  // this is for Enable/disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "dom": '<"top"i>rt<"bottom"lp><"clear">', // for checnge datatable controls positions

                "ajax": {
                    "url": "/Reports/LoadReconciliations",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "TID", "name": "TID", "autoWidth": true },
                    { "data": "DateTime", "name": "StartDateTime", "autoWidth": true },
                    { "data": "STAN", "name": "STAN", "autoWidth": true },
                    { "data": "STATUS", "name": "ReconType", "autoWidth": true },
                    {
                        "data": "TID", "render": function (data) {
                            //return "<a class='btn btn-success btn-sm' ><i class='fa fa-download'></i> E-Recipt </a>";

                            var myUrl = '@Url.Action("PrintRecipt", "Reports")?RRN=' + data;
                            return "<span class='btn btn-success btn-sm' onclick='getReceipt(" + data + ")'>E-Recipt </span>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "75px"
                    }

                ]
            });




            $('#btnSearch').click(function () {
                //Apply search for daterange // DataTable column index 0
                oTable.columns(0).search($('#datetimes').val().trim());
                //Apply search for general Search // DataTable column index 3
                oTable.columns(1).search($('#Search').val().trim());
                var checkedIds = $('#myButton').searchAreaControl('getSelectedByAttribute', 'key');

                oTable.columns(2).search(checkedIds);

                //hit search on server
                oTable.draw();

            });

            $('#btnReconciliationsReport').click(function () {

                var checkedIds = $('#myButton').searchAreaControl('getSelectedByAttribute', 'key');
                $.ajax(
                    {
                        type: 'POST', //HTTP POST Method
                        url: "/Reports/ReconciliationsReport", // Controller/View
                        dataType: "json",
                        cache: false,
                        data: { //Passing data
                            TIDS: checkedIds.join(), //Reading text box values using Jquery
                            DateRange: $("#datetimes").val().trim()
                        },
                        success: function (Data) {
                            //  var response = JSON.parse(Data);
                            window.location = '/Reports/Download?fileGuid=' + Data.FileGuid
                                + '&filename=' + Data.FileName;
                        }
                    });

            });



        });

        $(function () {

            $('input[name="datetimes"]').daterangepicker({

                timePicker: true,

                startDate: moment().startOf('hour'),

                endDate: moment().startOf('hour').add(32, 'hour'),

                ranges: {

                    'Today': [moment(), moment()],

                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],

                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],

                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],

                    'This Month': [moment().startOf('month'), moment().endOf('month')],

                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]

                },

                locale: {

                    format: 'DD/MM/YYYY hh:mm A'

                }


            });



        });

        function getReceipt(id) {

            $("#mdbody").load('/Reports/PrintReconcilationRecipt?Id=' + id);
            $("#ReceiptModal").modal("show");
        };

    </script>
}
