
@{
    ViewBag.Title = "Reports";
    ViewBag.SubTitle = "Transactions Details";
}






@Styles.Render("~/AdminLTE/plugins/datatables/css")

@*@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")*@
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<link href="~/AdminLTE/plugins/searchAreaControl/css/searchAreaControl.css" rel="stylesheet" />




<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Filter</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                @*<button id="myButton" type="button" value="Terminal" />*@
                <button type="button" id="myButton" class="btn btn-primary">Terminal</button>
            </div>
            <div class="col-md-6">


            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 form-group">
                <label for="datetimes">Transaction Date Time Range</label>
                <input type="text" class="form-control" id="datetimes" name="datetimes">
            </div>
            @*input-sm*@
            <div class="col-sm-6  form-group">
                <label for="Search">Search by TID,Amount,Stan ..</label>
                <input type="text" class="form-control" id="Search" name="Search" placeholder="Search by TID,Amount... ">
            </div>

        </div>



    </div>
    <div class="box-footer">
        <button type="button" value="TrxDetailsReport" id="btnTrxDetailsReport" class="btn btn-success pull-left">Transaction Details</button>
        <button type="button" value="Search" id="btnSearch" class="btn btn-success pull-right">Search</button>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                @*heder items*@
            </div>
            <div class="box-body">

                <table id="myTable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Terminal ID</th>
                            <th>Date Time</th>
                            <th>RRN</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Response Code</th>
                            <th>Reconciliation Date</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ReceiptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:0px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 500px;margin-left: 200px">
            <div class="modal-header">
                @using (Html.BeginForm("pdfGenerator", "Reports", FormMethod.Post, new { target = "_blank" }))
                {
                    <button type="submit" class="btn btn-primary" id="download" style="margin-left:8px;"><span class="fa fa-download" aria-hidden="true" title="dowload"></span></button>
                    @*<i class="fa fa-download" style="cursor: pointer;" title="Download" onclick="Printd()"></i>*@

                    <span style="font-size: 16px;font-weight: bold;margin-left: 154px" class="modal-title" id="exampleModalLabel">Receipt</span>
                    <input type="hidden" name="hdn_rrnID" id="hdn_rrnID" value="" />
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" title="Close">&times;</span>
                        </button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: #fff;margin-left: 142px;background-color: #3c8dbc;">Close</button>

                }
            </div>
            <div class="modal-body" id="modelHisoryBody" style="padding:0px 15px;">
                <div id="mdbody">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: #fff;margin-right: 11px;background-color: #3c8dbc;">Close</button>
            </div>
        </div>
    </div>
</div>






@section Scripts{


    @Scripts.Render("~/AdminLTE/plugins/datatables/js")




    @* load datetimepicker range *@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>


    <script src="~/AdminLTE/plugins/searchAreaControl/js/searchAreaControl.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {

            // Setup - add a text input to each footer cell







            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '/Reports/GetHierarchy',
                success: function (records, textStatus, jqXHR) {
                    $('#myButton').searchAreaControl({
                        data: records,
                        collapseNodes: true,
                        mainButton: {
                            defaultText: 'Terminal'
                        }
                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });



            var oTable = $("#myTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true,  // this is for Enable/disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "dom": '<"top"i>rt<"bottom"lp><"clear">', // for checnge datatable controls positions
                //"dom": 'Bfrtip', // for checnge datatable controls positions
                "orderCellsTop": true,
                "fixedHeader": true,
                "searching": true,

                "ajax": {
                    "url": "/Reports/LoadData",
                    "type": "POST",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "TID", "name": "TID", "autoWidth": true },
                    { "data": "StartDateTime", "name": "StartDateTime", "autoWidth": true },
                    { "data": "RRN", "name": "RRN", "autoWidth": true },
                    { "data": "AMOUNT", "name": "AMOUNT", "autoWidth": true },
                    { "data": "STATUS", "name": "STATUS", "autoWidth": true },
                    { "data": "RespCode", "name": "RespCode", "autoWidth": true },
                    { "data": "ReconciliationDate", "name": "ReconciliationDate", "autoWidth": true },
                    {
                        "data": "RRN", "render": function (data) {
                           // var myUrl = '@Url.Action("PrintRecipt", "Reports")?RRN=' + data;
                              //  myUrl = '@Url.Action("PrintSalarySlip", "Reports")';
                            //return '<a href=\"' + myUrl + '\" class=\"btn btn-success btn-sm\" target="_blank">E-Recipt</a>';
                            return "<span class='btn btn-success btn-sm' onclick='getReceipt(" + data + ")'>E-Recipt </span>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "75px"
                    }

                ],


            });


            //$('#myTable thead tr').clone(true).appendTo('#myTable thead');
            //$('#myTable thead tr:eq(1) th').each(function (i) {
            //    var title = $(this).text();
            //    $(this).html('<input type="text" style="width:89%;" placeholder="Search" />');

            //    $('input', this).on('keyup change', function () {
            //        if (oTable.column(i).search() !== this.value) {
            //            oTable.column(i).search(this.value).draw();
            //        }
            //    });
            //});

           // oTable.destroy();


            $('#btnSearch').click(function () {
                //Apply search for daterange // DataTable column index 0
                oTable.columns(0).search($('#datetimes').val().trim());
                //Apply search for general Search // DataTable column index 3
                oTable.columns(1).search($('#Search').val().trim());



                var checkedIds = $('#myButton').searchAreaControl('getSelectedByAttribute', 'key');



                oTable.columns(2).search(checkedIds);

                //hit search on server
                oTable.draw();

            });

            $('#btnTrxDetailsReport').click(function () {

                var checkedIds = $('#myButton').searchAreaControl('getSelectedByAttribute', 'key');
                $.ajax(
                    {
                        type: 'POST', //HTTP POST Method
                        url: "/Reports/TrxDetailsReport", // Controller/View
                        dataType: "json",
                        cache: false,
                        data: { //Passing data
                            TIDS: checkedIds.join(), //Reading text box values using Jquery
                            DateRange: $("#datetimes").val().trim()
                        },
                        success: function (Data) {
                            //  var response = JSON.parse(Data);
                            window.location = '/Reports/Download?fileGuid=' + Data.FileGuid
                                + '&filename=' + Data.FileName;
                        }
                    });

            });


        });

        $(function () {

            $('input[name="datetimes"]').daterangepicker({

                timePicker: true,

                startDate: moment().startOf('hour'),

                endDate: moment().startOf('hour').add(32, 'hour'),

                ranges: {

                    'Today': [moment(), moment()],

                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],

                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],

                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],

                    'This Month': [moment().startOf('month'), moment().endOf('month')],

                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]

                },

                locale: {

                    format: 'DD/MM/YYYY hh:mm A'

                }


            });



        });


        function getReceipt(id) {

          $("#mdbody").load('/Reports/PrintRecipt?RRN=' + id);
            $("#ReceiptModal").modal("show");
            $("#hdn_rrnID").val(id);
        };


        function Printd() {
            $.get('/Reports/pdfGenerator', function () { });
        }

    </script>
}
